/* ======================
CONTACT - HEADER
=========================*/

.contact-header {
    background: url("../assets/contact-image-1.jpg") center;
    background-size: cover;
    height: 65vh;
    min-height: 30rem;
}

.contact-header nav ul li a.homeNav {
    color: #FAFFFE;
}

.contact-header nav ul li a.contactNav {
    color: #50E3C2;
}


/* ======================
CONTACT - FORM
=========================*/

.contact-formAndLinks {
    padding: 0;
    background-color: #FAFFFE;
}

.contact-formAndLinksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-formContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 70%;
    gap: 1.5rem;
    position: relative;
    top: -7em;
    left: -5%;
    height: 30%;
    padding: 3rem;
    background-color: #FAFFFE;
    box-shadow: 0.9rem 0.9rem #50E3C2;
}

.contact-formContainer input[type=text],
.contact-formContainer input[type=email] {
    flex: 1 0 10%;
    height: 3rem;
    padding: 1rem;
    border: none;
    border-bottom: 0.1rem solid #50E3C2;
}

textarea.contact-message {
    flex: 1 0 100%;
    height: 12rem;
    padding: 1rem;
    resize: none;
    border: 0.1rem solid #50E3C2;
}

button[type=submit] {
    width: 100%;
    color: #FAFFFE;
}

/* ======================
CONTACT - LINKS
=========================*/

.contact-linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 10rem;
}

.contact-linksIcons {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.contact-linksEmail {
    margin: 1rem 0;
}


/* ======================
CONTACT - MEDIA QUERIES
=========================*/

@media (max-width: 962px) {
    .contact-formAndLinksContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .contact-formContainer {
        left: 0;
    }

    .contact-linksContainer {
        margin: -5rem 0 3rem 0;
        align-items: center;
    }

    .contact-linksIcons {
        display: flex;
        justify-content: space-between;
        width: 10rem;
    }

    .contact-linksAddress {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .headerTitle h2 {
        text-align: center;
    }

    .blog-ourMissionImgContainer {
        height: 12rem;
    }

    .contact-formContainer input[type=text],
    .contact-formContainer input[type=email] {
        flex: 0 1 100%;
        width: 100%;
    }

    textarea.contact-message {
        flex: 0 1 100%;
        width: 2rem;
    }
}

@media (max-width: 480px) {
    .headerTitle h2 {
        @include fontSize(80);
    }

    .contact-formContainer {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
        gap: 1.5rem;
        position: relative;
        top: -7em;
        left: 0;
        height: 30%;
        padding: 3rem;
        background-color: #FAFFFE;
        box-shadow: 0.9rem 0.9rem #50E3C2;
    }

    .contact-formContainer input[type=text],
    .contact-formContainer input[type=email], 
    textarea.contact-message {
        padding: 0.2rem;
    }
}