/* ======================
INDEX - HEADER
=========================*/

.headerContent .homeNav {
    color: $greenishCyan;
}

.index-titleGap {
    height: 100%;
    width: 40%;
}

.index-titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}

.index-titlePrefix {
    font-family: 'Lato', sans-serif;
    @include fontSize(62);
    @include letterSpacing(6.7);
    @include lineHeight(58);
    text-transform: lowercase;
    margin-left: 0.5rem;
    color: $spruce;
}

.index-titleContainer h1 {
    @include lineHeight(100);
    z-index: 1;
}

.index-titleContainer {
    color: $twilightBlue;
}

.index-titleSunglasses {
    background: url("../assets/header-box.jpg") center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -32rem;
    bottom: -6rem;
    height: 100%;
    width: 100%;
    z-index: 0;
}


/* ======================
INDEX - VISIT GUYANA
=========================*/

.index-visitGuyana {
    padding-top: 9rem;
    background-color: $iceBlue;
}

.index-visitGuyanaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-visitGuyanaText p {
    padding: 1rem 0;
}

.index-visitGuyanaImg {
    flex-shrink: 0;
    margin-left: 10%;
}

.index-visitGuyanaImg img {
    box-shadow: -0.9rem 0.9rem #50E3C2;
}


/* ======================
INDEX - THREE IMAGES
=========================*/

.index-threeImages {
    background-color: $lightLightBlue;
}

.index-threeImagesContainer {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.index-threeImagesItems {
    flex: 1 1 16rem;
    height: 20rem;
}

.index-threeImages1 {
    background: url("../assets/gallery-image1.jpg") center;
    background-size: cover;
}

.index-threeImages2 {
    background: url("../assets/gallery-image2.jpg") center;
    background-size: cover;
}

.index-threeImages3 {
    background: url("../assets/gallery-image3.jpg") center;
    background-size: cover;
}


/* ======================
INDEX - MIDPAGE
=========================*/

.index-midpage {
    padding: 5rem 0;
    background-color: $iceBlue;
}

.index-midpageContainer {
    display: flex;
    flex-wrap: wrap;
}

.index-midpageItems {
    display: flex;
    align-items: flex-start;
    flex: 1 0 48%;
    min-width: 18rem;
    margin-bottom: 1rem;
}

.index-midpageItems i {
    position: relative;
    z-index: 1;
    padding: 0.45rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
    color: $iceBlue;
}

.index-midpageItems .fa-file {
    padding-left: 0.65rem;
}

.index-midpageItems i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $greenishCyan;
}


/* ======================
INDEX - PLAN AHEAD
=========================*/

.index-planAhead .wrapper {
    width: 100%;
    max-width: 75rem;
}

.index-planAhead {
    padding: 0;
    background-color: $lightLightBlue;
}

.index-planAheadContainer {
    display: flex;
    flex-wrap: wrap;
}

.index-planAheadItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 23rem;
}

.index-planAheadItems p {
    padding: 0.5rem 28% 1rem 0;
}

.index-planAheadItems button {
    width: 10rem;
}

.index-planAheadText1,
.index-planAheadImg2 {
    margin-left: 15%;
}

.index-planAheadText1,
.index-planAheadImg1 {
    margin-bottom: 4%;
}

.index-planAheadText1 {
    padding-top: 2rem;
}

.index-planAheadText2 {
    align-items: flex-end;
}

.index-planAheadText2 p {
    text-align: right;
    padding: 1rem 0 1rem 28%;
}

.index-planAheadImg1 {
    background: url("../assets/left-image.jpg") center;
    background-size: cover;
    position: relative;
    top: -1.5rem;
    height: 20rem;
    box-shadow: 0.9rem 0.9rem #50E3C2;
}

.index-planAheadImg2 {
    background: url("../assets/right-image.jpg") center;
    background-size: cover;
    position: relative;
    bottom: -1.5rem;
    width: 40rem;
    height: 20rem;
    z-index: 10;
    box-shadow: -0.9rem 0.9rem #50E3C2;
}


/* ======================
INDEX - BOTTOM SPAN IMAGE
=========================*/

.index-bottomSpanImg {
    background: url("../assets/banner-image.jpg") center;
    background-size: cover;
    height: 20rem;
}


/* ======================
INDEX - FREE TRIP
=========================*/

.index-freeTrip {
    height: 100%;
    background-color: $lightLightBlue;
}

.index-freeTripContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index-freeTripContainer p {
    text-align: center;
    padding: 1rem 10%;
}

.index-freeTripContainer button {
    padding: 0.5rem 1rem;
}


/* ======================
INDEX - JS CLASSES
=========================*/

.index-tintButton {
    position: relative;
    margin-right: 1rem;
    z-index: 10;
    cursor: pointer;
    color: yellow;
}

.index-tintButtonColour {
    color: white;
}

.tintDark {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

.tintLight {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.tintImg {
    filter: brightness(70%);
}

.tintSunglasses {
    filter: brightness(30%);
}

.tintFont {
    filter: brightness(95%);
    color: $iceBlue;
}

.noDisplay {
    display: none;
}

// Media Queries for Javascript

@media (max-width: 825px) {
    .index-tintButton {
        padding-top: 0.2rem;
        margin-right: 0;
    }
}


/* ======================
INDEX - MEDIA QUERIES
=========================*/

@media (max-width: 1099px) {
    .index-tintButtonBackground {
        left: 10rem;
        width: 100%;
    }


    .index-planAheadContainer {
        flex-direction: column;
        padding: 0 5%;
    }

    .index-planAheadItems {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .index-planAheadItems p {
        padding: 1.2rem 15%;
    }

    .index-planAheadImg1 {
        top: 0;
    }

    .index-planAheadText1,
    .index-planAheadText2 {
        padding: 2rem 0;
    }

    .index-planAheadText2 {
        order: 1;
    }

    .index-planAheadText2 p {
        text-align: left;
    }

    .index-planAheadImg1 {
        margin-top: 8rem;
    }

    .index-planAheadImg2 {
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 940px) {
    .index-titleGap,
    .index-titleSunglasses {
        display: none;
    }

    .index-titlePrefix {
        @include fontSize(60);
    }

    .index-titleContainer h1 {
        text-align: center;
        @include fontSize(90);
    }

    .index-visitGuyana {
        padding-top: 5rem;
    }

    .index-visitGuyanaContainer {
        flex-direction: column;
    }

    .index-visitGuyanaText {
        text-align: center;
        margin-bottom: 3rem;
    }

    .index-visitGuyanaImg {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .index-header {
        height: 70vh;
    }

    .index-titlePrefix {
        @include fontSize(40);
    }

    .index-titleContainer h1 {
        @include fontSize(60);
        @include lineHeight(60);
    }

    .index-planAheadImg1,
    .index-planAheadImg2 {
        flex-basis: 15rem;
    }

    .index-freeTripContainer h5{
        text-align: center;
    }

    .index-freeTripContainer p {
        padding: 1rem 5%;
    }
}

@media (max-width: 480px) {
    .index-titlePrefix {
        @include fontSize(30);
    }

    .index-titleContainer h1 {
        @include fontSize(42);
        @include lineHeight(60);
    }

    .index-threeImagesItems {
        height: 15rem;
    }

    .index-midpageItems {
        min-width: 100%;
    }

    .index-planAheadItems p {
        padding: 1.2rem 5%;
    }
}