/* ======================
INDEX - MEDIA QUERIES
=========================*/

@media (max-width: 1620px) {
    .index-planAheadContainer {
        flex-direction: column;
        padding: 5% 5% 0 5%;
    }

    .index-planAheadItems {
        justify-content: center;
        align-items: center;
        flex: 1 0 25rem;
    }

    .index-planAheadItems p {
        padding: 1.2rem 15%;
    }

    .index-planAheadText2 {
        justify-content: center;
        align-items: center;
    }

    .index-planAheadText2 p {
        text-align: left;
        padding: 1.2rem 15%;
    }

    .index-planAheadText1,
    .index-planAheadImg2 {
        margin-left: 0;
    }
    
    .index-planAheadText1,
    .index-planAheadImg1 {
        margin-bottom: 0;
    }

    .index-planAheadImg1 {
        top: 0;
        width: 100%;
    }

    .index-planAheadImg2 {
        bottom: 0;
        width: 100%;
    }

    .index-planAheadText2 {
        order: 1;
    }
}

@media (max-width: 940px) {
    .index-titleGap,
    .index-titleSunglasses {
        display: none;
    }

    .index-titlePrefix {
        @include fontSize(60);
    }

    .index-titleContainer h1 {
        text-align: center;
        @include fontSize(90);
    }

    .index-visitGuyana {
        padding-top: 5rem;
    }

    .index-visitGuyanaContainer {
        flex-direction: column;
    }

    .index-visitGuyanaText {
        text-align: center;
        margin-bottom: 3rem;
    }

    .index-visitGuyanaImg {
        margin-left: 0;
    }

}


@media (max-width: 768px) {
    .index-header {
        height: 70vh;
    }

    .index-titlePrefix {
        @include fontSize(40);
    }

    .index-titleContainer h1 {
        @include fontSize(60);
        @include lineHeight(60);
    }

    .index-freeTripContainer h5{
        text-align: center;
    }

    .index-freeTripContainer p {
        padding: 1rem 5%;
    }
}


@media (max-width: 480px) {
    .index-titlePrefix {
        @include fontSize(30);
    }

    .index-titleContainer h1 {
        @include fontSize(42);
        @include lineHeight(60);
    }

    .index-threeImagesItems {
        height: 15rem;
    }

    .index-midpageItems {
        min-width: 100%;
    }

    .index-planAheadItems p {
        padding: 1.2rem 5%;
    }

    .index-planAheadText2 p {
        padding: 1.2rem 5%;
    }
}