

/* ======================
INDEX - HEADER
=========================*/

@import '_header.scss';

.headerContent nav ul li a.homeNav {
    color: #50E3C2;
}

.titlePrefix {
    margin-left: 0.5rem;
}

.titleLogo h1 {
    z-index: 1;
}

.titleSunglasses {
    background: url("../assets/header-box.jpg") center;
    background-size: cover;
    position: absolute;
    left: -29rem;
    bottom: -6rem;
    height: 100%;
    width: 38rem;
}


/* ======================
INDEX - VISIT GUYANA
=========================*/

.visitGuyana {
    background-color: #FAFFFE;
    padding-top: 9rem;
}

.visitGuyanaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visitGuyanaText p {
    padding: 1rem 0;
}

.visitGuyanaImg {
    flex-shrink: 0;
    margin-left: 10%;
}

.visitGuyanaImg img {
    box-shadow: -0.9rem 0.9rem #50E3C2;
}


/* ======================
INDEX - THREE IMAGES
=========================*/

.threeImages {
    background-color: #D2F9F1;
}

.threeImagesContainer {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.threeImagesItems {
    flex: 1 1 16rem;
    height: 20rem;
}

.threeImages1 {
    background: url("../assets/gallery-image1.jpg") center;
    background-size: cover;
}

.threeImages2 {
    background: url("../assets/gallery-image2.jpg") center;
    background-size: cover;
}

.threeImages3 {
    background: url("../assets/gallery-image3.jpg") center;
    background-size: cover;
}


/* ======================
INDEX - MIDPAGE
=========================*/

.midpage {
    background-color: #FAFFFE;
    padding: 5rem 0;
}

.midpageContainer {
    display: flex;
    flex-wrap: wrap;
}

.midpageItems {
    display: flex;
    align-items: flex-start;
    flex: 1 0 48%;
    min-width: 18rem;
    margin-bottom: 1rem;
}

.midpageItems i {
    background-color: #50E3C2;
    color: #FAFFFE;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    padding: 0.45rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
}

.midpageIconFile i {
    padding-left: 0.7rem;
    background-color: unset;
}

.midpageIconFile i::after {
    content: '';
    background-color: #50E3C2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


/* ======================
INDEX - PLAN AHEAD
=========================*/

.planAhead {
    background-color: #D2F9F1;
    padding: 0;
}

.planAheadContainer {
    display: flex;
    flex-wrap: wrap;
}

.planAheadItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 34rem;
}

.planAheadItems p {
    padding: 1rem 45% 1rem 0;
}

.planAheadItems button {
    width: 10rem;
}

.planAheadText1,
.planAheadImg2 {
    margin-left: 15%;
}

.planAheadText1,
.planAheadImg1 {
    margin-bottom: 4%;
}

.planAheadText2 {
    justify-content: flex-start;
    align-items: flex-end;
}

.planAheadText2 p {
    text-align: right;
    padding: 1rem 0 1rem 45%;
}

.planAheadImg1 {
    background: url("../assets/left-image.jpg") center;
    background-size: cover;
    position: relative;
    top: -1.5rem;
    width: 40rem;
    height: 20rem;
    box-shadow: 0.9rem 0.9rem #50E3C2;
}

.planAheadImg2 {
    background: url("../assets/right-image.jpg") center;
    background-size: cover;
    position: relative;
    bottom: -1.5rem;
    width: 40rem;
    height: 20rem;
    box-shadow: -0.9rem 0.9rem #50E3C2;
}


/* ======================
INDEX - BOTTOM SPAN IMAGE
=========================*/

.bottomSpanImg {
    background: url("../assets/banner-image.jpg") center;
    background-size: cover;
    height: 20rem;
}


/* ======================
INDEX - FREE TRIP
=========================*/

.freeTrip {
    background-color: #D2F9F1;
    height: 100%;
}

.freeTripContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.freeTripContainer button {
    padding: 0.5rem 1rem;
}

.freeTripContainer p {
    text-align: center;
    padding: 1rem 10%;
}


/* ======================
FOOTER
=========================*/

footer {
    background-color: #2C2C2C;
    color: #FAFFFE;
}

footer p {
    text-align: center;
}


/* ======================
INDEX - MEDIA QUERIES
=========================*/

@media (max-width: 1620px) {
    .planAheadContainer {
        flex-direction: column;
        padding: 5% 5% 0 5%;
    }

    .planAheadItems {
        justify-content: center;
        align-items: center;
        flex: 1 0 25rem;
    }

    .planAheadItems p {
        padding: 1.2rem 15%;
    }

    .planAheadText2 {
        justify-content: center;
        align-items: center;
    }

    .planAheadText2 p {
        text-align: left;
        padding: 1.2rem 15%;
    }

    .planAheadText1,
    .planAheadImg2 {
        margin-left: 0;
    }
    
    .planAheadText1,
    .planAheadImg1 {
        margin-bottom: 0;
    }

    .planAheadImg1 {
        top: 0;
        width: 100%;
    }

    .planAheadImg2 {
        bottom: 0;
        width: 100%;
    }

    .planAheadText2 {
        order: 1;
    }
}



@media (max-width: 1287px) {
    // html {
    //     background-color: red;
    // }

    
}


@media (max-width: 940px) {
    // html {
    //     background-color: blue;
    // }

    .titleLeft,
    .titleSunglasses {
        display: none;
    }

    .titlePrefix {
        font-size: 60px;
    }

    .titleLogo h1 {
        text-align: center;
        font-size: 90px;
    }

    .visitGuyana {
        padding-top: 5rem;
    }

    .visitGuyanaContainer {
        flex-direction: column;
    }

    .visitGuyanaText {
        text-align: center;
        margin-bottom: 3rem;
    }

    .visitGuyanaImg {
        margin-left: 0;
    }

}


@media (max-width: 768px) {
    // html {
    //     background-color: green;
    // }

    .index-header {
        height: 60vh;
    }

    .titlePrefix {
        font-size: 40px;
    }

    .titleLogo h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .freeTripContainer h5{
        text-align: center;
    }

    .freeTripContainer p {
        padding: 1rem 5%;
    }
}


@media (max-width: 480px) {
    // html {
    //     background-color: rebeccapurple;
    // }

    .titlePrefix {
        font-size: 30px;
    }

    .titleLogo h1 {
        font-size: 42px;
        line-height: 60px;
    }

    .threeImagesItems {
        height: 15rem;
    }

    .midpageItems {
        min-width: 100%;
    }

    .planAheadItems p {
        padding: 1.2rem 5%;
    }

    .planAheadText2 p {
        padding: 1.2rem 5%;
    }
}


@media (max-width: 340px) {
    // html {
    //     background-color: orange;
    // }
}