/* ======================
MEDIA QUERIES
=========================*/

@media (max-width: 1350px) {
    html {
        background-color: red;
    }
}


@media (max-width: 940px) {
    html {
        background-color: blue;
    }
}


@media (max-width: 768px) {
    html {
        background-color: green;
    }

    .headerContent nav ul {
        display: none;
    }

    .fa-bars {
        visibility: visible;
    }
}


@media (max-width: 480px) {
    html {
        background-color: rebeccapurple;
    }
}


@media (max-width: 340px) {
    html {
        background-color: orange;
    }
}