/* ======================
MEDIA QUERIES
=========================*/

@media (max-width: 1350px) {
    html {
        background-color: red;
    }
}


@media (max-width: 940px) {
    html {
        background-color: blue;
    }
}


@media (max-width: 768px) {
    html {
        background-color: green;
    }

    .fa-bars {
        visibility: visible;
    }

    .headerContent nav ul {
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 10;
        overflow: hidden;
        height: 0;
        background-color: #063974;
        opacity: 0.9;
    }

    .headerContent nav ul li {
        margin-left: 0;
    }

    .headerLinks nav ul li:hover,
    .headerLinks nav ul li:focus {
        background-color: #0C5F4C;
    }

    input[type=checkbox]:checked + .headerLinks {
        height: auto;
        width: 100%;
        background-color: #063974;
    }

    label[for=navMobileMenu] {
        position: fixed;
        right: 1rem;
        top: 1.1rem;
    }
}


@media (max-width: 480px) {
    html {
        background-color: rebeccapurple;
    }
}


@media (max-width: 340px) {
    html {
        background-color: orange;
    }
}