@import '_mixins';

/* ======================
TYPOGRAPHY
=========================*/

html {
    font-family: 'Lato', sans-serif;
    font-size: 125%;
    font-weight: 700;
    color: #2C2C2C;
}

h1, .logo, button {
    font-family: 'Playfair Display SC', serif;
}

h2, h3, h4, h5, h6 {
    @include lineHeight(58);
}

p, button, li, input, textarea::placeholder {
    @include lineHeight(32);
}

nav {
    @include lineHeight(29);
}

h1  {
    @include fontSize(111.2);
}

h2 {
    @include fontSize(87);
    @include letterSpacing(9);
}

h3 {
    @include fontSize(62);
    @include letterSpacing(6.7);
}

h4, h5 {
    @include fontSize(35);
    @include letterSpacing(3.8);
}

.logo {
    @include fontSize(34.6);
}

h6 {
    @include fontSize(30);
    @include letterSpacing(3.2);
}

button, nav {
    @include letterSpacing(1);
}

p, li, input, textarea::placeholder {
    @include letterSpacing(2);
    font-weight: 400;
}

input, textarea::placeholder {
    font-weight: 300;
}

.logo, button, nav {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2C2C2C;
}

.blog-postDate {
    font-style: italic;
    color: #063974;
    letter-spacing: normal;
    font-size: 1rem;
    font-weight: normal;
}

.blog-postDataAuthor {
    font-weight: bold;
}

.blog-commentsHeader {
    color: #063974;
    font-size: 20px;
    line-height: normal;
}

.blog-ourMissionHeader {
    font-size: 1.1rem;
    color: #063974;
}




// html {
//     font-family: 'Lato', sans-serif;
//     font-size: 125%;
//     font-weight: 700;
//     color: #2C2C2C;
// }

// h1, .logo, button {
//     font-family: 'Playfair Display SC', serif;
// }

// h2, h3, h4, h5, .midpageHeadings {
//     line-height: 2.9rem;
// }

// p, button, input::placeholder {
//     line-height: 1.6rem;
// }

// h1  {
//     font-size: 5.56rem;
// }

// h2 {
//     font-size: 4.35rem;
//     letter-spacing: 0.45rem;
// }

// h3 {
//     font-size: 3.1rem;
//     letter-spacing: 0.335rem;
// }

// h4, h5 {
//     font-size: 1.75rem;
//     letter-spacing: 0.19rem;
// }

// .logo {
//     font-size: 1.75rem;
//     text-align: center;
// }

// .midpageHeadings {
//     font-size: 1.5rem;
//     letter-spacing: 0.16rem;
// }

// button {
//     letter-spacing: 0.05rem;
// }

// p {
//     letter-spacing: 0.1rem;
//     font-weight: 400;
// }

// input::placeholder {
//     letter-spacing: 0.1rem;
//     font-weight: 300;
// }

// ul {
//     list-style: none;
// }

// a {
//     text-decoration: none;
//     color: #2C2C2C;
// }











