/* ======================
GENERAL
=========================*/

.wrapper {
    width: 90%;
    max-width: 54rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

section {
    padding: 5rem 0;
}










// button {
//     margin: 0 auto;
//     display: block;
//     padding: 0.75rem 1.5rem;
//     text-transform: uppercase;
//     background: #FDC800;
//     border: none;
// }

// ul {
//     list-style: none;
// }

// a {
//     text-decoration: none;
//     color: black;
// }

// .hidden {
//     display: none;
// }

// .fa-bars {
//     position: absolute;
//     top: 1.2rem;
//     right: 0;
//     font-size: 1.5rem;
//     visibility: hidden;
// }