/* ======================
GENERAL
=========================*/

.wrapper {
    width: 85%;
    max-width: 64rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, p, a, ul, li {
    margin: 0;
    padding: 0;
}

section {
    padding: 5rem 0;
}

button {
    border: none;
    background: #063974;
    padding: 0.4rem 0.9rem;
}

button a {
    color: #FAFFFE;
}






// button {
//     margin: 0 auto;
//     display: block;
//     padding: 0.75rem 1.5rem;
//     text-transform: uppercase;
//     background: #FDC800;
//     border: none;
// }

// ul {
//     list-style: none;
// }

// a {
//     text-decoration: none;
//     color: black;
// }

// .hidden {
//     display: none;
// }

// .fa-bars {
//     position: absolute;
//     top: 1.2rem;
//     right: 0;
//     font-size: 1.5rem;
//     visibility: hidden;
// }