@import '_mixins.scss';

html {
    font-family: 'Lato', sans-serif;
    font-size: 125%;
    font-weight: 700;
    color: #2C2C2C;
}

h1, .logo, button {
    font-family: 'Playfair Display SC', serif;
}

.titlePrefix {
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
}

h2, h3, h4, h5, h6, .titlePrefix {
    @include lineHeight(58);
}

p, button, li, input, textarea::placeholder {
    @include lineHeight(32);
}

button, nav {
    @include letterSpacing(1);
}

nav {
    @include lineHeight(29);
}

h1  {
    @include fontSize(111.2);
}

h2 {
    @include fontSize(87);
    @include letterSpacing(9);
}

h3, .titlePrefix {
    @include fontSize(62);
    @include letterSpacing(6.7);
}

h4, h5 {
    @include fontSize(35);
    @include letterSpacing(3.8);
}

.logo {
    @include fontSize(34.6);
    text-transform: lowercase;
    color: #50E3C2;
}

h6 {
    @include fontSize(30);
    @include letterSpacing(3.2);
}

p, li, input, textarea::placeholder {
    @include letterSpacing(2);
    font-weight: 400;
}

input, textarea::placeholder {
    font-weight: 300;
}

.logo, button, nav {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2C2C2C;
}

nav {
    text-transform: uppercase;
}

.blog-postDate {
    letter-spacing: normal;
}

.titleLogo h1 {
    @include lineHeight(100);
}

.blog-commentsHeader {
    @include fontSize(20);
    line-height: normal;
}

.blog-ourMissionHeader {
    @include fontSize(25);
}

.blog-ourMissionFindOut,
.contact-linksEmail a {
    font-weight: 600;
}

.general-cap {
    text-transform: capitalize;
    line-height: 6rem;
}

.headerTitle h2 {
    color: #FAFFFE;
}

.titleLogo h1, .blog-postDate,
.blog-commentsHeader, .blog-ourMissionHeader {
    color: #063974;
}

.titlePrefix, .blog-ourMissionFindOut {
    color: #0C5F4C;
}