/* ======================
CONTACT - MEDIA QUERIES
=========================*/

@media (max-width: 962px) {
    .contact-formAndLinksContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .contact-formContainer {
        left: 0;
    }

    .contact-linksContainer {
        margin: -5rem 0 3rem 0;
        align-items: center;
    }

    .contact-linksIcons {
        display: flex;
        justify-content: space-between;
        width: 10rem;
    }

    .contact-linksAddress {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .headerTitle h2 {
        text-align: center;
    }

    .blog-ourMissionImgContainer {
        height: 12rem;
    }

    .contact-formContainer input[type=text],
    .contact-formContainer input[type=email] {
        flex: 0 1 100%;
        width: 100%;
    }

    textarea.contact-message {
        flex: 0 1 100%;
        width: 2rem;
    }
}

@media (max-width: 480px) {
    .headerTitle h2 {
        @include fontSize(80);
    }

    .contact-formContainer {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
        gap: 1.5rem;
        position: relative;
        top: -7em;
        left: 0;
        height: 30%;
        padding: 3rem;
        background-color: $iceBlue;
        box-shadow: 0.9rem 0.9rem #50E3C2;
    }

    .contact-formContainer input[type=text],
    .contact-formContainer input[type=email], 
    textarea.contact-message {
        padding: 0.2rem;
    }
}