@import '_setup';
@import '_vars';


@mixin fontSize($sizeValue) {
    font-size: $sizeValue;
    color: blue;
    font-weight: bold;
}

body {
    background-color: $primaryColor;
}

h1 {
    @include fontSize(40px);
    text-shadow: 1px 2px #000;
}
