@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======================
TYPOGRAPHY
=========================*/
html {
  font-family: "Lato", sans-serif;
  font-size: 125%;
  font-weight: 700;
  color: #2C2C2C;
}

h1, .logo, button {
  font-family: "Playfair Display SC", serif;
}

h2, h3, h4, h5, h6 {
  line-height: 58px;
  line-height: 2.9rem;
}

textarea::-webkit-input-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

textarea::-moz-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

textarea:-ms-input-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

textarea::-ms-input-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

p, button, input, textarea::placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

nav {
  line-height: 29px;
  line-height: 1.45rem;
}

h1 {
  font-size: 111.2px;
  font-size: 5.56rem;
}

h2 {
  font-size: 87px;
  font-size: 4.35rem;
  letter-spacing: 9px;
  letter-spacing: 0.45rem;
}

h3 {
  font-size: 62px;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
  letter-spacing: 0.335rem;
}

h4, h5 {
  font-size: 35px;
  font-size: 1.75rem;
  letter-spacing: 3.8px;
  letter-spacing: 0.19rem;
}

.logo {
  font-size: 34.6px;
  font-size: 1.73rem;
}

h6 {
  font-size: 30px;
  font-size: 1.5rem;
  letter-spacing: 3.2px;
  letter-spacing: 0.16rem;
}

button, nav {
  letter-spacing: 1px;
  letter-spacing: 0.05rem;
}

textarea::-webkit-input-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea::-moz-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea:-ms-input-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea::-ms-input-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

p, input, textarea::placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea::-webkit-input-placeholder {
  font-weight: 300;
}

textarea::-moz-placeholder {
  font-weight: 300;
}

textarea:-ms-input-placeholder {
  font-weight: 300;
}

textarea::-ms-input-placeholder {
  font-weight: 300;
}

input, textarea::placeholder {
  font-weight: 300;
}

.logo, button, nav {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

/* ======================
GENERAL
=========================*/
.wrapper {
  width: 85%;
  max-width: 64rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
}

section {
  padding: 6rem 0;
}

button {
  border: none;
  background: #063974;
  padding: 0.4rem 0.9rem;
}

button a {
  color: #FAFFFE;
}

/* ======================
HEADING
=========================*/
header {
  background: url("../assets/home-image-1.jpg") center;
  background-size: cover;
  height: 80vh;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 3 25rem;
          flex: 1 3 25rem;
  text-align: left;
  color: #50E3C2;
}

.headerContent nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 1rem;
          flex: 3 1 1rem;
  margin-left: 1rem;
}

.headerContent nav ul li {
  margin-left: 1rem;
}

.headerContent nav ul li a {
  color: #FAFFFE;
}

.headerContent nav ul li a.homeNav {
  color: #50E3C2;
}

header .logo,
header h3 {
  text-transform: lowercase;
}

.title {
  margin-bottom: 11rem;
  z-index: 1;
}

.title h3 {
  color: #0C5F4C;
}

.title h1 {
  line-height: 5rem;
  color: #063974;
}

nav {
  text-transform: uppercase;
}

.titleGroup {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleBackdrop {
  height: 100%;
  width: 40%;
}

.titleLogo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.titleGroup h3 {
  display: block;
}

.titlePrefix {
  text-transform: lowercase;
  font-family: "Lato", sans-serif;
  font-size: 62px;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
  letter-spacing: 0.335rem;
  line-height: 58px;
  line-height: 2.9rem;
  color: #0C5F4C;
  margin-left: 0.5rem;
}

.titleLogo h1 {
  line-height: 5rem;
  color: #063974;
  z-index: 1;
}

.titleSunglasses {
  position: absolute;
  background: url("../assets/header-box.jpg") center;
  background-size: cover;
  height: 35rem;
  width: 42rem;
  left: -36rem;
  bottom: -6rem;
}

/* ======================
VISIT GUYANA
=========================*/
section.visitGuyana {
  background-color: #FAFFFE;
  padding-top: 9rem;
}

.visitGuyanaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visitGuyanaText p {
  padding: 1rem 0;
}

.visitGuyanaImg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10%;
}

.visitGuyanaImg img {
  -webkit-box-shadow: -0.9rem 0.9rem #50E3C2;
          box-shadow: -0.9rem 0.9rem #50E3C2;
}

/* ======================
THREE IMAGES
=========================*/
.threeImages {
  background-color: #D2F9F1;
}

.threeImagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.threeImagesItems {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 16rem;
          flex: 1 0 16rem;
  height: 20rem;
}

.threeImages1 {
  background: url("../assets/gallery-image1.jpg") center;
  background-size: cover;
}

.threeImages2 {
  background: url("../assets/gallery-image2.jpg") center;
  background-size: cover;
}

.threeImages3 {
  background: url("../assets/gallery-image3.jpg") center;
  background-size: cover;
}

/* ======================
MIDPAGE
=========================*/
.midpage {
  background-color: #FAFFFE;
}

.midpageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.midpageItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 48%;
          flex: 1 0 48%;
  min-width: 18rem;
  margin-bottom: 1rem;
}

.midpageItems i {
  margin-top: 0.6rem;
  margin-right: 1rem;
  color: #FAFFFE;
  border-radius: 50%;
  background-color: #50E3C2;
  padding: 0.45rem;
  position: relative;
  z-index: 1;
}

.midpageIconFile i {
  padding-left: 0.7rem;
  background-color: unset;
}

.midpageIconFile i::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #50E3C2;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

/* ======================
PLAN AHEAD
=========================*/
.planAhead {
  background-color: #D2F9F1;
  padding: 0;
}

.planAheadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.planAheadItems {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 27rem;
          flex: 1 0 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.planAheadItems p {
  padding: 1rem 45% 1rem 0;
}

.planAheadItems button {
  width: 10rem;
}

.planAheadText,
.planAheadImg2 {
  margin-left: 15%;
}

.planAheadText,
.planAheadImg1 {
  margin-bottom: 4%;
}

.planAheadItems.newLocationsText {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.planAheadItems.newLocationsText p {
  text-align: right;
  padding: 1rem 0 1rem 45%;
}

.planAheadImg1 {
  background: url("../assets/left-image.jpg") center;
  background-size: cover;
  background-color: red;
  width: 40rem;
  height: 20rem;
  -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
          box-shadow: 0.9rem 0.9rem #50E3C2;
  position: relative;
  top: -1.5rem;
}

.planAheadImg2 {
  background: url("../assets/right-image.jpg") center;
  background-size: cover;
  background-color: red;
  width: 40rem;
  height: 20rem;
  -webkit-box-shadow: -0.9rem 0.9rem #50E3C2;
          box-shadow: -0.9rem 0.9rem #50E3C2;
  position: relative;
  bottom: -1.5rem;
}

/* ======================
BOTTOM SPAN IMAGE
=========================*/
.bottomSpanImg {
  height: 20rem;
  background: url("../assets/banner-image.jpg") center;
  background-size: cover;
}

/* ======================
FREE TRIP
=========================*/
.freeTrip {
  background-color: #D2F9F1;
  height: 40rem;
}

.freeTrip .wrapper {
  height: 100%;
}

.freeTripContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.freeTripContainer button {
  padding: 0.5rem 1rem;
}

.freeTripContainer p {
  text-align: center;
  padding: 1rem 6rem;
}

/* ======================
FOOTER
=========================*/
footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
}

footer p {
  text-align: center;
}

/* ======================
CONTACT - HEADING
=========================*/
.contact-header {
  background: url("../assets/contact-image-1.jpg") center;
  background-size: cover;
  height: 65vh;
}

.contact-header-cap {
  text-transform: capitalize;
}

.titleGroup h2 {
  color: #FAFFFE;
}

.contact-header nav ul li a.homeNav {
  color: #FAFFFE;
}

.contact-header nav ul li a.contactNav {
  color: #50E3C2;
}

/* ======================
CONTACT - FORM AND LINKS
=========================*/
.contact-formAndLinks {
  padding: 0;
}

.contact-formAndLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: red;
}

.contact-formContainer {
  background-color: #FAFFFE;
  position: relative;
  top: -7em;
  left: -5%;
  height: 32rem;
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  gap: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
          box-shadow: 0.9rem 0.9rem #50E3C2;
}

input[type=text],
input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  height: 3rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid #50E3C2;
}

textarea.contact-message {
  resize: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 65%;
  padding: 1rem;
  border: 0.1rem solid #50E3C2;
}

button[type=submit] {
  width: 100%;
  color: #FAFFFE;
}

.contact-linksContainer {
  background-color: green;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 13rem;
          flex: 1 1 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-linksIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.contact-linksEmail {
  margin: 1rem 0;
}

.contact-linksEmail a {
  font-weight: 700;
}

.break {
  display: block;
}

/* ======================
BLOG - HEADING
=========================*/
.blog-header {
  background: url("../assets/blog-image-1.jpg") center;
  background-size: cover;
  height: 65vh;
}

.blog-header nav ul li a.homeNav {
  color: #FAFFFE;
}

.blog-header nav ul li a.blogNav {
  color: #50E3C2;
}

/* ======================
BLOG - CONTENT
=========================*/
.blog-postContainer {
  padding: 0;
}

/* ======================
BLOG - OUR MISSION
=========================*/
.blog-ourMission ul {
  list-style: disc;
  padding-left: 2rem;
  font-weight: 400;
}