@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======================
TYPOGRAPHY
=========================*/
html {
  font-family: "Lato", sans-serif;
  font-size: 125%;
  font-weight: 700;
  color: #2C2C2C;
}

h1, .logo, button {
  font-family: "Playfair Display SC", serif;
}

h2, h3, h4, h5, h6 {
  line-height: 58px;
  line-height: 2.9rem;
}

textarea::-webkit-input-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

textarea::-moz-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

textarea:-ms-input-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

textarea::-ms-input-placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

p, button, li, input, textarea::placeholder {
  line-height: 32px;
  line-height: 1.6rem;
}

nav {
  line-height: 29px;
  line-height: 1.45rem;
}

h1 {
  font-size: 111.2px;
  font-size: 5.56rem;
}

h2 {
  font-size: 87px;
  font-size: 4.35rem;
  letter-spacing: 9px;
  letter-spacing: 0.45rem;
}

h3 {
  font-size: 62px;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
  letter-spacing: 0.335rem;
}

h4, h5 {
  font-size: 35px;
  font-size: 1.75rem;
  letter-spacing: 3.8px;
  letter-spacing: 0.19rem;
}

.logo {
  font-size: 34.6px;
  font-size: 1.73rem;
}

h6 {
  font-size: 30px;
  font-size: 1.5rem;
  letter-spacing: 3.2px;
  letter-spacing: 0.16rem;
}

button, nav {
  letter-spacing: 1px;
  letter-spacing: 0.05rem;
}

textarea::-webkit-input-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea::-moz-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea:-ms-input-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea::-ms-input-placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

p, li, input, textarea::placeholder {
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

textarea::-webkit-input-placeholder {
  font-weight: 300;
}

textarea::-moz-placeholder {
  font-weight: 300;
}

textarea:-ms-input-placeholder {
  font-weight: 300;
}

textarea::-ms-input-placeholder {
  font-weight: 300;
}

input, textarea::placeholder {
  font-weight: 300;
}

.logo, button, nav {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

nav {
  text-transform: uppercase;
}

header .logo,
header h3 {
  text-transform: lowercase;
}

.titlePrefix {
  text-transform: lowercase;
  font-family: "Lato", sans-serif;
  font-size: 62px;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
  letter-spacing: 0.335rem;
  line-height: 58px;
  line-height: 2.9rem;
  color: #0C5F4C;
}

.titleLogo h1 {
  line-height: 5rem;
  color: #063974;
}

.blog-postDate {
  font-style: italic;
  color: #063974;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
}

.blog-postDataAuthor {
  font-weight: bold;
}

.blog-commentsHeader {
  color: #063974;
  font-size: 20px;
  line-height: normal;
}

.blog-ourMissionHeader {
  font-size: 1.1rem;
  color: #063974;
}

.blog-ourMissionFindOut {
  color: #0C5F4C;
  font-weight: bold;
}

/* ======================
GENERAL
=========================*/
img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
}

section {
  padding: 6rem 0;
}

button {
  border: none;
  background: #063974;
  padding: 0.4rem 0.9rem;
}

button a {
  color: #FAFFFE;
}

.wrapper {
  width: 85%;
  max-width: 64rem;
  margin: 0 auto;
  height: 100%;
}

.fa-bars {
  font-size: 1.5rem;
  visibility: hidden;
  color: #FAFFFE;
}

input[type=checkbox] {
  display: none;
}

.general-break {
  display: block;
}

.general-cap {
  text-transform: capitalize;
}

/* ======================
INDEX - HEADER
=========================*/
/* ======================
HEADER
=========================*/
header {
  background: url("../assets/home-image-1.jpg") center;
  background-size: cover;
  height: 80vh;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  height: 100%;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 3 25rem;
          flex: 1 3 25rem;
  text-align: left;
  color: #50E3C2;
}

.headerContent nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 1rem;
          flex: 3 1 1rem;
  margin-left: 1rem;
}

.headerContent nav ul li {
  margin-left: 1rem;
}

.headerContent nav ul li a {
  color: #FAFFFE;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.titleLeft {
  height: 100%;
  width: 40%;
}

.titleLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
}

.headerContent nav ul li a.homeNav {
  color: #50E3C2;
}

.titlePrefix {
  margin-left: 0.5rem;
}

.titleLogo h1 {
  z-index: 1;
}

.titleSunglasses {
  background: url("../assets/header-box.jpg") center;
  background-size: cover;
  position: absolute;
  left: -29rem;
  bottom: -6rem;
  height: 100%;
  width: 38rem;
}

/* ======================
INDEX - VISIT GUYANA
=========================*/
.visitGuyana {
  background-color: #FAFFFE;
  padding-top: 9rem;
}

.visitGuyanaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visitGuyanaText p {
  padding: 1rem 0;
}

.visitGuyanaImg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10%;
}

.visitGuyanaImg img {
  -webkit-box-shadow: -0.9rem 0.9rem #50E3C2;
          box-shadow: -0.9rem 0.9rem #50E3C2;
}

/* ======================
INDEX - THREE IMAGES
=========================*/
.threeImages {
  background-color: #D2F9F1;
}

.threeImagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.threeImagesItems {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16rem;
          flex: 1 1 16rem;
  height: 20rem;
}

.threeImages1 {
  background: url("../assets/gallery-image1.jpg") center;
  background-size: cover;
}

.threeImages2 {
  background: url("../assets/gallery-image2.jpg") center;
  background-size: cover;
}

.threeImages3 {
  background: url("../assets/gallery-image3.jpg") center;
  background-size: cover;
}

/* ======================
INDEX - MIDPAGE
=========================*/
.midpage {
  background-color: #FAFFFE;
  padding: 5rem 0;
}

.midpageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.midpageItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 48%;
          flex: 1 0 48%;
  min-width: 18rem;
  margin-bottom: 1rem;
}

.midpageItems i {
  background-color: #50E3C2;
  color: #FAFFFE;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  padding: 0.45rem;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.midpageIconFile i {
  padding-left: 0.7rem;
  background-color: unset;
}

.midpageIconFile i::after {
  content: "";
  background-color: #50E3C2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* ======================
INDEX - PLAN AHEAD
=========================*/
.planAhead {
  background-color: #D2F9F1;
  padding: 0;
}

.planAheadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.planAheadItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 27rem;
          flex: 1 0 27rem;
}

.planAheadItems p {
  padding: 1rem 45% 1rem 0;
}

.planAheadItems button {
  width: 10rem;
}

.planAheadText,
.planAheadImg2 {
  margin-left: 15%;
}

.planAheadText,
.planAheadImg1 {
  margin-bottom: 4%;
}

.planAheadItems.newLocationsText {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.planAheadItems.newLocationsText p {
  text-align: right;
  padding: 1rem 0 1rem 45%;
}

.planAheadImg1 {
  background: url("../assets/left-image.jpg") center;
  background-size: cover;
  position: relative;
  top: -1.5rem;
  width: 40rem;
  height: 20rem;
  -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
          box-shadow: 0.9rem 0.9rem #50E3C2;
}

.planAheadImg2 {
  background: url("../assets/right-image.jpg") center;
  background-size: cover;
  position: relative;
  bottom: -1.5rem;
  width: 40rem;
  height: 20rem;
  -webkit-box-shadow: -0.9rem 0.9rem #50E3C2;
          box-shadow: -0.9rem 0.9rem #50E3C2;
}

/* ======================
INDEX - BOTTOM SPAN IMAGE
=========================*/
.bottomSpanImg {
  background: url("../assets/banner-image.jpg") center;
  background-size: cover;
  height: 20rem;
}

/* ======================
INDEX - FREE TRIP
=========================*/
.freeTrip {
  background-color: #D2F9F1;
  height: 100%;
}

.freeTripContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.freeTripContainer button {
  padding: 0.5rem 1rem;
}

.freeTripContainer p {
  text-align: center;
  padding: 1rem 10%;
}

/* ======================
FOOTER
=========================*/
footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
}

footer p {
  text-align: center;
}

/* ======================
INDEX - MEDIA QUERIES
=========================*/
@media (max-width: 1287px) {
  .planAheadContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
  }

  .planAheadItems {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .planAheadItems p {
    padding: 1.2rem 15%;
  }

  .planAheadItems.newLocationsText {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .planAheadItems.newLocationsText p {
    text-align: left;
    padding: 1.2rem 15%;
  }

  .planAheadText,
.planAheadImg2 {
    margin-left: 0;
  }

  .planAheadText,
.planAheadImg1 {
    margin-bottom: 0;
  }

  .planAheadImg1 {
    top: 0;
    width: 100%;
  }

  .planAheadImg2 {
    bottom: 0;
    width: 100%;
  }

  .newLocationsText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 940px) {
  .titleLeft,
.titleSunglasses {
    display: none;
  }

  .titlePrefix {
    font-size: 60px;
  }

  .titleLogo h1 {
    text-align: center;
    font-size: 90px;
  }

  .visitGuyana {
    padding-top: 5rem;
  }

  .visitGuyanaContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .visitGuyanaText {
    text-align: center;
    margin-bottom: 3rem;
  }

  .visitGuyanaImg {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .index-header {
    height: 60vh;
  }

  .titlePrefix {
    font-size: 40px;
  }

  .titleLogo h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .freeTripContainer h5 {
    text-align: center;
  }

  .freeTripContainer p {
    padding: 1rem 5%;
  }
}
@media (max-width: 480px) {
  .titlePrefix {
    font-size: 30px;
  }

  .titleLogo h1 {
    font-size: 42px;
    line-height: 60px;
  }

  .threeImagesItems {
    height: 15rem;
  }

  .midpageItems {
    min-width: 100%;
  }

  .planAheadItems p {
    padding: 1.2rem 5%;
  }

  .planAheadItems.newLocationsText p {
    padding: 1.2rem 5%;
  }
}
/* ======================
CONTACT - HEADER
=========================*/
.contact-header {
  background: url("../assets/contact-image-1.jpg") center;
  background-size: cover;
  height: 65vh;
}

.contact-header nav ul li a.homeNav {
  color: #FAFFFE;
}

.contact-header nav ul li a.contactNav {
  color: #50E3C2;
}

.headerTitle h2 {
  color: #FAFFFE;
}

/* ======================
CONTACT - FORM
=========================*/
.contact-formAndLinks {
  padding: 0;
  background-color: #FAFFFE;
}

.contact-formAndLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact-formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  gap: 1.5rem;
  position: relative;
  top: -7em;
  left: -5%;
  height: 30%;
  padding: 3rem;
  background-color: #FAFFFE;
  -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
          box-shadow: 0.9rem 0.9rem #50E3C2;
}

.contact-formContainer input[type=text],
.contact-formContainer input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
  height: 3rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid #50E3C2;
}

textarea.contact-message {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 12rem;
  padding: 1rem;
  resize: none;
  border: 0.1rem solid #50E3C2;
}

button[type=submit] {
  width: 100%;
  color: #FAFFFE;
}

/* ======================
CONTACT - LINKS
=========================*/
.contact-linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.contact-linksIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

.contact-linksEmail {
  margin: 1rem 0;
}

.contact-linksEmail a {
  font-weight: 700;
}

/* ======================
CONTACT - MEDIA QUERIES
=========================*/
@media (max-width: 958px) {
  .contact-formAndLinksContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }

  .contact-formContainer {
    left: 0;
  }

  .contact-linksContainer {
    margin: -5rem 0 3rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-linksIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 10rem;
  }

  .contact-linksAddress {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .general-cap {
    line-height: 6rem;
  }

  .blog-ourMissionImgContainer {
    height: 12rem;
  }

  .contact-formContainer input[type=text],
.contact-formContainer input[type=email] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
  }

  textarea.contact-message {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 2rem;
  }
}
@media (max-width: 480px) {
  .contact-formContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    gap: 1.5rem;
    position: relative;
    top: -7em;
    left: 0;
    height: 30%;
    padding: 3rem;
    background-color: #FAFFFE;
    -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
            box-shadow: 0.9rem 0.9rem #50E3C2;
  }

  .contact-formContainer input[type=text],
.contact-formContainer input[type=email],
textarea.contact-message {
    padding: 0.2rem;
  }
}
/* ======================
BLOG - HEADER
=========================*/
.blog-header {
  background: url("../assets/blog-image-1.jpg") center;
  background-size: cover;
  height: 65vh;
}

.blog-header nav ul li a.homeNav {
  color: #FAFFFE;
}

.blog-header nav ul li a.blogNav {
  color: #50E3C2;
}

.headerTitle h2 {
  color: #FAFFFE;
}

/* ======================
BLOG - CONTAINER AND POST
=========================*/
.blog-postAndOurMission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FAFFFE;
}

.blog-postAndCommentsContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 58%;
          flex: 1 0 58%;
  padding: 0;
}

.blog-postAndImg {
  border-right: 0.25rem solid #50E3C2;
  border-bottom: 0.25rem solid #50E3C2;
}

.blog-ImgContainer {
  position: relative;
  top: -9rem;
  width: calc(100% - 0.9rem + 0.25rem);
}

.blog-ImgContainer img {
  width: 100%;
  max-width: 60rem;
  -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
          box-shadow: 0.9rem 0.9rem #50E3C2;
}

.blog-postContainer,
.blog-commentsContainer {
  margin: 0 10% 0 20%;
}

.blog-postContainer h5 {
  margin-top: -6.5rem;
}

.blog-postContainer p:nth-of-type(1n+2) {
  margin-top: 1.5rem;
}

.blog-postContainer p:last-child {
  margin-bottom: 2rem;
}

/* ======================
BLOG - COMMENTS AND FORM
=========================*/
.blog-commentsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.blog-commentsContainer h5 {
  margin-top: 2rem;
}

.blog-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-commentsImgContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5rem;
          flex: 1 0 5rem;
  margin-right: 2rem;
}

.blog-formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  height: 32rem;
  margin-bottom: 5rem;
}

.blog-formContainer input[type=text],
.blog-formContainer input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  height: 3rem;
  padding: 1rem;
  border: none;
  border-bottom: 0.1rem solid #50E3C2;
}

textarea.blog-message {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 12rem;
  padding: 1rem;
  border: 0.1rem solid #50E3C2;
  resize: none;
}

button[type=submit] {
  width: 100%;
  color: #FAFFFE;
}

/* ======================
BLOG - OUR MISSION
=========================*/
.blog-ourMissionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28rem;
          flex: 1 0 28rem;
  padding: 6rem 0 0 16%;
}

.blog-ourMissionImgContainer {
  background: url("../assets/sidebar-image.jpg") center;
  background-size: cover;
  height: 22rem;
  margin-bottom: 0.5rem;
}

.blog-ourMissionPosts {
  padding-left: 2rem;
  margin-bottom: 4rem;
}

.blog-ourMissionPosts li::before {
  content: "•";
  color: #50E3C2;
  margin: 0 0.5rem 0 -1.2rem;
}

/* ======================
BLOG - MEDIA QUERIES
=========================*/
@media (max-width: 1350px) {
  .blog-postAndImg {
    border: none;
  }

  .blog-ImgContainer {
    position: relative;
    top: -9rem;
    width: calc(100% - 0.9rem);
  }

  .blog-postContainer,
.blog-commentsContainer,
.blog-ourMissionContainer {
    margin: 0 10%;
  }

  .blog-ImgContainer {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog-ImgContainer img {
    width: 95%;
    max-width: 60rem;
    -webkit-box-shadow: 0.9rem 0.9rem #50E3C2;
            box-shadow: 0.9rem 0.9rem #50E3C2;
    margin: 0 auto;
  }

  .blog-postContainer p:last-child {
    margin-bottom: 3rem;
  }

  .blog-formContainer {
    margin-bottom: 3rem;
  }

  .blog-break {
    width: 90%;
    margin: 0 auto;
    border-bottom: 0.25rem double #50E3C2;
  }

  .blog-ourMissionContainer {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding: 3rem 8% 0 8%;
  }

  .blog-ourMissionImgContainer {
    height: 20rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .blog-ourMissionImgContainer {
    height: 12rem;
  }
}
@media (max-width: 480px) {
  .blog-comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blog-commentsHeader {
    margin: 1rem 0;
  }

  .blog-ourMissionImgContainer {
    height: 8rem;
  }
}
/* ======================
MEDIA QUERIES
=========================*/
@media (max-width: 1350px) {
  html {
    background-color: red;
  }
}
@media (max-width: 940px) {
  html {
    background-color: blue;
  }
}
@media (max-width: 768px) {
  html {
    background-color: green;
  }

  .headerContent nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 0;
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 10;
  }

  .headerContent nav ul li {
    margin-left: 0;
  }

  input[type=checkbox]:checked + ul.test {
    height: auto;
    width: 100%;
    background-color: #063974;
  }

  label[for=navMobileMenu] {
    position: fixed;
    right: 1rem;
    top: 1.1rem;
  }

  .fa-bars {
    visibility: visible;
  }

  .test li:hover {
    background-color: #0C5F4C;
  }

  .headerContent nav ul {
    background-color: #063974;
    opacity: 0.9;
  }
}
@media (max-width: 480px) {
  html {
    background-color: rebeccapurple;
  }
}
@media (max-width: 340px) {
  html {
    background-color: orange;
  }
}